.App {
  text-align: center;
}

.App-link {
  color: rgb(112, 76, 182);
}


.left {
  width: 47%;
  padding-right: 2%;
  float: left;
}

.right {
  width: 47%;
  padding-left: 2%;
  float: right;
}

/* TODO: em sizing */
/* .MuiInputBase-root { */
.MuiOutlinedInput-root {
  margin: .25em; 
  display: block;
}
/* */
